! Kirikaes Xresources
!URxvt*termName:		rxvt-256color
!URxvt*font:			xft:scientifica:size=8, xft:Kochi Gothic:antialias=false
!URxvt*boldFont:		xft:scientifica:size=8:styple=Bold
!URxvt*italicFont:		xft:scientifica:size=8:style=Italic
!URxvt.saveLines:		10000
!URxvt.internalBorder:		0
!URxvt.externalBorder:		0
!URxvt.scrollBar:		false
!URxvt.letterSpace:		0
!URxvt.borderColor:		Black

! rofi
rofi.font: scientifica Regular 8
rofi.terminal: urxvtc
rofi.ssh-client: ssh
rofi.ssh-command: {terminal} -e {ssh-client} {host}

! URxvt
URxvt.scrollBar: false
URxvt.font: xft:scientifica:size=14, xft:Kochi Gothic:antialias=false
URxvt.boldFont: xft:scientifica:size=14:style=Bold
URxvt.italicFont: xft:scientifica:size=14:style=Italic
URxvt.cursorUnderline: true
URxvt.internalBorder: 15
URxvt.letterSpace: 1
URxvt.perl-ext-common: default,matcher,font-size
URxvt.font-size.step: 2

! Performance
URxvt*buffered:		false
URxvt*saveLines:		0
URxvt*skipBuiltinGlyphs:	rue
URxvt*scrollWithBuffer: 	false
URxvt*skipScroll: 		false
URxvt*jumpScroll: 		false

! DPI/Font
Xft.dpi: 			    96
Xft.autohint: 		false
Xft.antialias: 		1
Xft.hinting: 			true
Xft.hintstyle: 		hintslight
Xft.rgba: 			  rgb
Xft.lcdfilter: 		lcddefault

! Clickable URLs
URxvt.url-launcher: firefox
URxvt.matcher.button: 1

! Use Control-Shift-V/C for X clipboard
URxvt.iso14755:		false
URxvt.iso14755_52:		false
URxvt.keysym.Shift-Control-V:	eval:paste_clipboard
URxvt.keysym.Shift-Control-C:	eval:selection_to_clipboard

! Resizeable text
URxvt.keysym.C-Up:     font-size:increase
URxvt.keysym.C-Down:   font-size:decrease

! colors
#include ".nord"

